.about-container {
    max-width: 800px;
    margin: 3vh auto;
    padding: 20px;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
    text-align: center;
    animation: fade 0.6s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transform: scale(1, 1);
}

.about-container:hover {
    transform: scale(1.02, 1.02);
}


.about-title {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #ff1c1c;
    font-weight: bold;
}

.about-text {
    font-size: 1.1rem;
    margin: 10px 0;
    line-height: 1.6;
}

.highlight {
    color: #ffcc00;
    font-weight: bold;
}

.about-features {
    margin-top: 20px;
    text-align: left;
}

.about-features h2 {
    margin-bottom: 10px;
    color: #3b4cca;
}

.about-features ul {
    list-style: none;
    padding: 0;
    font-weight: 600;
}

.about-features li {
    margin: 6px 0 0 0;
    font-size: 1rem;
}

.about-footer {
    margin-top: 20px;
    color: gray;
}

.darkabout {
    box-shadow: 0 0 10px white;
}
