.Footer{
 position: fixed;
  bottom: 0;
  width: 100%;
 background: linear-gradient(43deg, #EE1515, #e7e8e9);
  text-align: center;
  padding: 15px 0;
  letter-spacing: 0.5px;
  animation: slideUp 0.6s ease-in-out;
}

@keyframes slideUp{
    from{
        transform: translateY(100%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
